<div class="imx-drawer mdl-layout__drawer">
	<nav class="mdl-navigation">
 	  <a class="mdl-navigation__link" href="<%= root_path %>"><%= t('vendas') %></a>
	  <a class="mdl-navigation__link" href="<%= importar_path %>"><%= t('importar') %></a>
	</nav>
</div>