<footer class="imx-footer mdl-mega-footer">
	<div class="mdl-mega-footer--top-section">
		<div class="mdl-mega-footer--right-section">
		  <a class="mdl-typography--font-light" href="#top">
		    <%= t('voltar_ao_topo') %>
		    <i class="material-icons">expand_less</i>
		  </a>
		</div>
	</div>

</footer>