<header class="imx-header mdl-layout__header">
	<div class="mdl-layout__header-row">
		
		<div class="imx-header-spacer mdl-layout-spacer"></div>
		
		<!-- Navigation -->
        <div class="imx-navigation-container">
        	<nav class="imx-navigation mdl-navigation">
              	<a class="mdl-navigation__link mdl-typography--text-uppercase" href="<%= root_path %>"><%= t('vendas') %></a>
              	<a class="mdl-navigation__link mdl-typography--text-uppercase" href="<%= importar_path %>"><%= t('importar') %></a>
            </nav>
		</div>
		
	</div>	
</header>
